*.egg-info
__pycache__/
dist/
*.pyc
.venv/
.coverage
coverage.xml
.pytest_cache/dist/
brain_games/scripts/.brain_even.py.swn
brain_games/scripts/.brain_even.py.swo
brain_games/scripts/.brain_even.py.swp
brain_games/scripts/__pycache__
demo.cast
..gitignore.swp
.swp
brain_games/__pycache__/cli.cpython-38.pyc
